body {
    background-color: beige;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 250px;
    font-size: 60px;
    color: black;
}


h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-top: 400px;
    font-size: 15px;
    color: black;
}